body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(160, 0, 0);
    /* font-family: "Orbitron", sans-serif; */

}

#minutes,
#seconds,
#two {
    font-size: 80px;
}

#container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

#buttons {
    display: flex;
    justify-content: space-around;
}

#start,
#reset {
    background-color: black;
    color: rgb(103, 103, 227);
    border-top-right-radius: 10px;
    border-bottom: 0;
    padding: 5px 0;
    border-top-left-radius: 10px;
    border: 6px solid rgb(103, 103, 227);
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    ;
    width: 150px;
    cursor: pointer;


}

#start:hover,
#reset:hover {
    cursor: pointer;
}

#time {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: black;
    color: rgb(103, 103, 227);
    height: 200px;
    border-radius: 30px;
    border: 6px solid rgb(103, 103, 227);
}

#miliseconds {
    display: inline-block;
    width: 30px;
}


@media screen and (max-width: 500px) {

    #container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    #start,
    #reset {
        text-align: center;
        font-size: 16px;        ;
        width: 120px;
        cursor: pointer;

    }

}
